.table-container {
  margin-bottom: 0; /* Space between tables */
  padding: 20px; /* Padding around the table for spacing */
  background-color: #fff; /* Light background for contrast with dark tables */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners for a modern look */
  text-align: left;
}

.table-header {
  color: #dbdbdb; /* Use a color that matches your theme */
  margin-top: 30px; /* Space between header and table */
  margin-bottom: 10px; /* Space between header and table */
  font-size: 24px; /* Larger font size for visibility */
  text-align: center; /* Align to the left or center based on preference */
}
