.homepage-header {
  padding: 5rem;
  background-color: #33363a;
  color: rgb(255, 255, 255);
  text-align: center;
}

.homepage-header h2 {
  margin: 0.5rem 0;
}

.home {
    flex-direction: column;
    display: flex;
    text-align: center;
}
