:root {
  --primary: #211951;
  --light-grey: #836fff;
  --white: #f0f3ff;
  --bootstrap-primary: #636c75;
  --bootstrap-secondary: #6c757d;
  --login-bg: #15f5ba;
  --income: #4e7442;
  --expense: #ad4747;
}
